.footer {
  margin-top: auto;
}

/* .footer {
  width: 100%;
  bottom: 0;
  color: white;
  font-size: 15px;
}


.conteudo {
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyrighty {
  background-color: rgba(0, 0, 0, 0.05);
} */