.whats-btn {
  background-color: #46C454;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.whats-btn:hover {
  transform: scale(1.2);
}

.whats {
  padding-left: 5px;
}